{% extends "TecnoBlog_App/base.html" %}

{% block contenido %}
<section>
  <div>
    <h1>Detalle Articulo</h1>
    <table class="table">

      <tbody>
        <tr>
          <th>Titulo</th>
          <th>Subtitulo</th>
          <th>Descripcion</th>
          <th>Cuerpo</th>
          <th>Autor</th>
          <th>Fecha</th>
          <th>Imagen</th>
        </tr>
      </tr>
      <tr>
        <td>{{ articulo.titulo }}</td>
        <td>{{ articulo.subtitulo }}</td>
        <td>{{ articulo.descripcion }}</td>
        <td>{{ articulo.cuerpo }}</td>
        <td>{{ articulo.autor }}</td>
        <td>{{ articulo.fecha }}</td>
        <td><img src="{{ articulo.imagen.url }}" alt=""></td>
      </tr>  
        <td>
          {% if user.is_authenticated %}
          <form action="{% url 'editar_articulo' id=articulo.id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">
              <span class="bi bi-pencil"></span>
            </button>
          </form>
          {% endif %}
        </td>
        <td>
          {% if user.is_authenticated %}
          <form action="{% url 'eliminar_articulo' id=articulo.id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary" onclick="return confirm('¿Estás seguro que deseas eliminar este artículo?')">
              <span class="bi bi-trash float-left"></span>
            </button>
          </form>
          {% endif %}       
        </td>
      </tr>
        <br>
      </tbody>
    </table>
  </div>
</section>
{% endblock contenido %}