{% extends "TecnoBlog_App/base.html" %}

{% block contenido %}
<section>
  <div>
    <h1>Detalle Articulos</h1>
    <table class="table">

      <tbody>
        <tr>
          <th>Titulo</th>
          <th>Subtitulo</th>
          <th>Descripcion</th>
          <th>Cuerpo</th>
          <th>Autor</th>
          <th>Fecha</th>
          <th>Imagen</th>
        </tr>
      </tr>
      {% for articulo in articulos %}
      <tr>
        <td>{{ articulo.titulo }}</td>
        <td>{{ articulo.subtitulo }}</td>
        <td>{{ articulo.descripcion }}</td>
        <td>{{ articulo.cuerpo }}</td>
        <td>{{ articulo.autor }}</td>
        <td>{{ articulo.fecha }}</td>
        <td>{{ articulo.imagen.url }}</td>
      </td>  
        <td>
          {% if user == articulo.creador %}
          <form action="{% url 'editar_articulo' id=articulo.id %}" method="post">
            {% csrf_token %}
            <input type="submit" value="editar"/>
          </form>
          {% endif %}
        </td>
        <td>
          {% if user == articulo.creador %}
          <form action="{% url 'eliminar_articulo' id=articulo.id %}" method="post">
            {% csrf_token %}
            <input type="submit" value="eliminar"/>
          </form>
          {% endif %}         
        </td>
      </tr>
      {% endfor %}
        <br>
      </tbody>
    </table>
  </div>
</section>

<!-- Footer-->
<footer class="footer bg-light">
  <div class="container">
      <div class="row">
          <div class="col-lg-6 h-100 text-end my-auto">
            <br>
            <br>
            <br>
            <br>
            <a href="{% url 'listar_articulos' %}" class="text-muted" style="position: absolute; bottom: 0; right: 1;">Volver</a>
          </div>
      </div>
  </div>
</footer>
{% endblock contenido %}