{% extends "TecnoBlog_App/base.html" %}
{% load static %}

{% block contenido %}
<section>
  <div>
    <h1>Detalle Articulo</h1>
    <table class="table">
      <tbody>
        <tr>
          <th>Titulo</th>
          <td>{{ articulo.titulo }}</td>
        </tr>
        <tr>
          <th>Subtitulo</th>
          <td>{{ articulo.subtitulo }}</td>
        </tr>
        <tr>
          <th>Descripcion</th>
          <td>{{ articulo.descripcion }}</td>
        </tr>
        <tr>
          <th>Cuerpo</th>
          <td>{{ articulo.cuerpo }}</td>
        </tr>
        <tr>
          <th>Autor</th>
          <td>{{ articulo.autor }}</td>
        </tr>
        <tr>
          <th>Fecha</th>
          <td>{{ articulo.fecha }}</td>
        </tr>
        <tr>
          <th>Imagen</th>
          <td><img src="{{ articulo.imagen.url }}" alt=""></td>
        </tr>
      </tbody>
    </table>

    {% if articulo.creador == request.user or request.user.is_superuser %}
    <div>
      <form action="{% url 'editar_articulo' id=articulo.id %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">
          <span class="bi bi-pencil"></span> Editar
        </button>
      </form>

      <form action="{% url 'eliminar_articulo' id=articulo.id %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary" onclick="return confirm('¿Estás seguro que deseas eliminar este artículo?')">
          <span class="bi bi-trash float-left"></span> Eliminar
        </button>
      </form>
    </div>
    {% endif %}
  </div>
</section>

<!-- "Volver Button -->
<div>
    <a href="{% url 'listar_articulos' %}">Volver a Articulos</a>
</div>
{% endblock contenido %}
