{% extends "TecnoBlog_App/base.html" %}

{% block contenido %}
<section>
  <div>
    <h1>Detalle Articulos</h1>
    <table class="table">

      <tbody>
        <tr>
          <th>Titulo</th>
          <th>Subtitulo</th>
          <th>Descripcion</th>
          <th>Cuerpo</th>
          <th>Autor</th>
          <th>Fecha</th>
          <th>Imagen</th>
        </tr>
      </tr>
      {% for articulo in articulos %}
      <tr>
        <td>{{ articulo.titulo }}</td>
        <td>{{ articulo.subtitulo }}</td>
        <td>{{ articulo.descripcion }}</td>
        <td>{{ articulo.cuerpo }}</td>
        <td>{{ articulo.autor }}</td>
        <td>{{ articulo.fecha }}</td>
        <td>{{ articulo.imagen }}</td>
      </td>  
        <td>
          {% if user == articulo.creador %}
          <form action="{% url 'editar_articulo' id=articulo.id %}" method="post">
            {% csrf_token %}
            <input type="submit" value="editar"/>
          </form>
          {% endif %}
        </td>
        <td>
          {% if user == articulo.creador %}
          <form action="{% url 'eliminar_articulo' id=articulo.id %}" method="post">
            {% csrf_token %}
            <input type="submit" value="eliminar"/>
          </form>
          {% endif %}         
        </td>
      </tr>
      {% endfor %}
        <br>
      </tbody>
    </table>
  </div>
</section>
{% endblock contenido %}