{% extends "TecnoBlog_App/base.html" %}

{% block contenido %}
<section>
  <div>
    <h1>Lista de artículos</h1>
    {% if user.is_authenticated %}
      <a href="{% url 'crear_articulo' %}">Agregar artículo</a>
    {% endif %}

    {% if articulos|length == 0 %}
      <p>No hay entradas aún</p>
    {% else %}
      <table class="table">
        <thead>
          <tr>
            <th>Título</th>
            <th>Descripción</th>
          </tr>
        </thead>
        <tbody>
          {% for articulo in articulos %}
            <tr>
              <td>{{ articulo.titulo }}</td>
              <td>{{ articulo.descripcion }}</td>
              <td>
                <a href="{% url 'detallar_articulo' id=articulo.id %}">Leer más</a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endif %}
  </div>
</section>
{% endblock contenido %}